section.fl.w-100.pt4.pb5.bg-white
  .mw-container.center.ph2.ph4-l
    h5.w-100.normal.dark-gray.f2-5.mv2.lh-title Edit Pick Info

    = render "form.html", Map.put(assigns, :action, Routes.admin_pick_path(@conn, :update, @pick))
