Hi <%= @person.first_name %>,

It looks like you've forgotten your password! To reset it, click this link:

<%= Routes.auth_url(Endpoint, :new_password, @token_value) %>

It is valid for 2 hours.

If you need further assistance, contact us at picks@notfarfromthetree.org.


Fruitfully yours,

The NFFTT Team
