p Hi #{@person.first_name},

p Just a quick note.

p You have been removed by an admin from Pick #{@pick.id} near #{@pick.requester.property.address_closest_intersection}.

p Fruitfully yours,

p
  b The NFFTT Team
