Hi <%= @person.first_name %>

Congratulations! You have now registered your fruit tree with Not Far From The Tree! Thank you so much for sharing your harvest with your community this season. By registering as a member of Not Far From The Tree, you’re helping sustain the urban orchard, building community, and bringing more fresh fruit to social service agencies across Toronto.

Check out your Tree Registrant Handbook <"https://fruit.nyc3.cdn.digitaloceanspaces.com/assets/Handbooks/2023/2023%20Tree%20Registrant%20Welcome%20Package.pdf">! This includes all the information you'll need to know about picking as an NFFTT fruit tree registrant. Throughout the season make sure to regularly log into the fruit-picking portal <"<%= Routes.dashboard_url(Endpoint, :index) %>"> to update your tree’s information! We depend on you to monitor your tree and report when it is ripe.

We would love at least two weeks’ notice for when the tree is ripe. You can register your tree beforehand, just make sure in the portal that you provide a clear date range for when we should come by. Here is a handy ripening calendar <"https://notfarfromthetree.org/wp-content/uploads/2022/07/Fruit-Ripening-Timeline.png">

Please follow us on Instagram <"http://instagram.com/nfftt/">, Facebook <"http://facebook.com/NFFTT">, and Twitter <"http://twitter.com/nfftt">. You can also sign up to volunteer at events <"https://docs.google.com/forms/d/e/1FAIpQLSe6c63m82-oIpjMTjd3aHu6tRSQ9kzSgfH66J1lY-NpLYZdtA/viewform"> and even to be a pick leader <"https://docs.google.com/forms/d/e/1FAIpQLSd5tdfVPEmrnxOcxIavliBSY1cuO2XNXT3XWf0J0eP7YJm9mQ/viewform?usp=sharing">!

Thank you for supporting Not Far From The Tree – we’re looking forward to a wonderful fruit season together!

Fruitfully yours,

The NFFTT Team

P.S. Love what we do? Please donate <"https://makewaygifts.secure.force.com/donate/?id=a3061000002oeCO"> to help us keep going!

